.App {
  text-align: center;
}

.background-image {
  background-image: url(background.jpg);
  background-size: cover;
  height: 100vh;
}

.title-homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

